// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$enable-rounded: false;

$font-family-base: 'Montserrat', $font-family-sans-serif;

$navbar-padding-y: 0;

$black-normal:   rgba($black, 0.9);
$black-light:    rgba($black, 0.7);
$black-lighter:  rgba($black, 0.5);
$black-lightest: rgba($black, 0.3);

$white-normal:   rgba($white, 0.9);
$white-light:    rgba($white, 0.7);
$white-lighter:  rgba($white, 0.5);
$white-lightest: rgba($white, 0.3);

$pink-custom: #e16676;

$navbar-light-color:          $black-lighter;
$navbar-light-hover-color:    $pink-custom;
$navbar-light-active-color:   $pink-custom;
$navbar-light-disabled-color: $black-lightest;

$brand-primary:      $black-light;
$btn-primary-color:  $white;
$btn-primary-bg:     $black-light;
$btn-primary-border: $black-light;
