@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Karla');
@import "hamburger-icon";



/**
 * Navbar section
 */
.navigation-nav {
    .nav-link {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
    }
}
.navbar-toggler {
    outline: none !important;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
}



/**
 * Posts section
 */
.post-list {
    padding-left: 1rem;
    padding-right: 1rem;
}
.post-container {

    &:not(:first-child) {
        padding-top: 50px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $black-lighter;
        padding-bottom: 50px;
    }

    .post-title {
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $black-lightest;
        text-transform: uppercase;
        letter-spacing: 2px;

        a {
            font-size: 1.3em;
            line-height: 1em;
            color: $black-normal;
            text-decoration: none;
        }
    }

    .post-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;

        a {
            color: $black-normal;
        }
    }

    .post-read-more {
        margin-top: 0.8em;
        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(md) {
        .post-image {
            margin-bottom: 15px;
        }
    }
}



/**
 * Sidebar section
 */
.sidebar {
    .widget {
        .widget-title {
            margin-bottom: 0.5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.2rem;
        }
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .popular-post-list {
        .popular-post-container {
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            .popular-post-image {
                img {
                    width: 20%;
                    height: auto;
                    float: left;
                    margin-bottom: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
            .popular-post-title {
                margin-left: calc(20% + 0.5rem);
                margin-bottom: 0.2rem;
                padding-bottom: 0.2rem;
                border-bottom: 1px solid $black-lightest;
                text-transform: uppercase;
                text-align: justify;
                font-size: 0.8rem;
                letter-spacing: 2px;
            }
            .popular-post-excerpt {
                text-align: justify;
                font-size: 0.8rem;
            }
            &:not(:last-child) {
                padding-bottom: 10px;
                border-bottom: 1px solid $black-lighter;
            }
            &:not(:first-child) {
                padding-top: 10px;
            }
        }
    }
}



/**
 * Footer section
 */
#footer {
    background: rgba(0, 0, 0, 0.8);

    h3, h4 {
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    p {
        font-size: 1em;
        margin-bottom: 0.2rem;
    }
    a {
        color: $white-light;

        &:hover {
            text-decoration: none;
            color: $white-lightest;
        }
        &.active {
            color: $white-normal;
        }
    }
}
