@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Karla');
@import "hamburger-icon";

$gray-custom: #aaa;

.navigation-nav {
    .nav-link {
        text-transform: uppercase;
        text-align: center;
        // font-family: 'Karla', sans-serif;
        letter-spacing: 2px;
    }
    // @include media-breakpoint-up(md) {
    //     .nav-item:not(:last-child) .nav-link::after {
    //         color: $navbar-inverse-hover-color;
    //         margin-left: 8px;
    //         margin-right: -8px;
    //         content: '|';
    //     }
    // }
}
.navbar-toggler {
    outline: none !important;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
}
// .navbar-light {
//     border-bottom: 1px solid $black-light;
// }



/**
 * Post style
 */

.post-container {
    padding-top: 50px;
    padding-bottom: 50px;

    &:not(:last-child) {
        border-bottom: 1px solid $black-normal;
    }

    // &:first-child {
    //     border-top: 1px solid $black-normal;
    // }

    .post-title {
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $black-light;
        a {
            font-size: 1.3em;
            line-height: 1em;
            letter-spacing: 2px;
            color: $gray-dark;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .post-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .post-read-more {
        margin-top: 0.8em;
        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(md) {
        .post-image {
            margin-bottom: 15px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .post-list-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
